section.about{
    background: var(--darkbg);
}
.about-content{
    padding: 4rem 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content .info h4 {
    font-size: 2.5rem;
    color:#fff;
    margin-bottom: 10px; 
}

.about-content .info h6{
    font-size: 1.5rem;
    color:#fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.about-content .info p{
    font-size: 1rem;
    color:#fff;
    line-height: 30px;
    margin-bottom: 30px;
}
.exp-block .experience{
    display: flex;
    align-items:flex-end;
}

.exp-block .experience h1{
    font-size: 5rem;
    color: var(--yellow);
}

.exp-block .experience p{
    width: 6rem;
    margin-left: 10px;
}

@keyframes move{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.img{
    animation: move .1s 0.5s backwards;
}
.about-content .info h4{
    animation: move 0.5s 1.0s backwards;
}
.about-content .info h6{
    animation: move 1.0s 1.5s backwards;
}
.about-content .info p{
    animation: move 1.5s 2.0s backwards;
}
.about-content .info .exp-block{
    animation: move 2.0s 2.5s backwards;
}


@media (max-width:570px){
    
    .about-content {
        padding: 4rem 1rem;
        flex-direction: column;
    }
    .info{
        text-align: center;
    }
    .info h4{
        justify-content: center;
    }
    .exp-block .experience{
        justify-content: center;
    }
}