@import "about.css";
@import "contact.css";
@import "footer.css";
@import "skills.css";
@import "utilities.css";

:root{
    --lightbg:#343647;
    --darkbg:#252734;
    --yellow: hsl(48,  100%, 67%);
}
*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing:antialiased;
}
html{
    scroll-behavior: smooth;
}
body{
     font-family: 'Poppins', sans-serif;
}
main.home-section{
    background:var(--lightbg);
}
.home-grid{
    padding: 9rem 6rem;
    display: grid;
    grid-template-columns: 60% 40%;
}
.home-grid .div1{
    position: relative;
}

.div1 img{
    opacity: 5;
    position: absolute;
    height: auto;
    border-radius:10px;
    width: 70%;
    top: -60%;
}
.name-title{
    text-transform: uppercase;
    font-size: 3.1rem;
    letter-spacing: 3px;
    color: white;
    position: absolute; 
    right:60px;
    /* top:30%;   */
}

.name-title::after{
    content: "";
    width:11rem;
    height: .4rem;
    background-color: hsl(48,  100%, 67%);
    position: absolute;
    bottom: -0.6rem;
    left:50%;
    transform: translateX(-50%);
    border-radius:2rem;
}

.div2{
    display: flex;
    align-items: center;
}

.div2 .info{
    margin:0 30px;
}

.home-grid .div2 h2{
    margin:20px 0;
    color: white;
    font-size: 2rem;
    letter-spacing: 1.5px;
}
.home-grid .div2 p{
    line-height: 25px;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.social-media i{
    font-size: 2rem;
    cursor: pointer;
}
.linkedin{
    margin-left: 30px;
}

@keyframes move{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.home-grid .div1 .half{
    animation: move .1s .5s backwards;
}
.home-grid .div1 .name-title{
    animation: move 0.5s .8s backwards;
}
.home-grid .div2 .info h2{
    animation: move .8s 1.2s backwards;
}
.home-grid .div2 .info p{
    animation: move 1.2s 1.6s backwards;
}
.home-grid .div2 .info .social-media{
    animation: move 1.6s 2s backwards;
}

@media (max-width:570px){
    .home-grid{
        padding:4rem 1rem;
        grid-template-columns: 1fr;
    }
    .half{
        display: none;
    }
    .home-grid .div2{
        margin-top: 8rem;
    }
}