.nav-bar{
    padding: 20px 0;
    color: #fff;
}
span{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
.items{
    text-align: right;
}
ul li{
    font-size: 17px;
    text-align: right;
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin: 20px;
    cursor: pointer;
    /* font-weight: 600; */
    letter-spacing: .4px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
li a:hover{
    color: hsl(48,  100%, 67%);
    transition: all .3s ease;
}
.main-card{
    width:400px;
    height: 200px;
    box-shadow: 1px 1px 25px rgba(1,0,0,0.2);
    background: #fff;
    margin:50px auto;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}
ul{
    display: block;
}
.sub-div1{
    border:1px solid #ccc;
    height: 100px;
    width: 100px;
    top:10;
    position: relative;
    margin:10px auto;
}
@media only screen and (max-width:700px)
{
    ul li{
        display:block;
        text-align: center;
    }
    span{
        display: block;
    }
    ul{
        display: none;
    }
}
